/*header*/
body{
	margin: 0;
}

.logo{
	text-decoration:none;
	color:#B1B1B1;
	font-size:35px;
	float:left;
	margin-top:5px;
	margin-left:100px;
	font-family: kt-smarn;
}
.logo:hover{
	color:white;
}
.space{
	background-color:#white;

}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	padding:10px;
}
#navi{
    float: left;
    display: block;
    color: #B1B1B1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	margin-left:100px;
	font-size:20px;
}
#navi:hover{
    color: white;
}
@font-face{
	font-family: kt-smarn;
	src:url(../../font/kt_smarn.ttf);
}

/*slider*/
* {
	box-sizing:border-box
}
#forcolor{
	color:white;
	font-size:20px;
	background:red;
	padding:10px;
	border-radius:15px;
}
.slideshow-container {
  max-width: 100%;
  max-height:80%;
  position: relative;
  margin:auto;
  top:71px;
}
.mySlides {
    display: none;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: pink;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: red;
}
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

/*--Content--*/
.main {
    margin-top: 150px;

}
.box1{
	background:#464949;
	width:370px;
	margin-left:50px;
	border-radius:12px;
	height:150px;
	float:left;
	margin-bottom:50px;
}
.minilogo{
	width:25%;
	margin-left:20px;
	margin-top:20px;
	float:left;
	display:inline;
}
.specialcontent{
	float:left;
	margin-left:20px;
	display:inline;
	color:#B1B1B1;
	font-weight:bold;
}
.main h1{
	margin-bottom:50px;
	text-decoration:underline;
	text-align:center;
}
.photonavi{
	margin-left:100px;
}
